rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Qualquer arquivo/pasta
    match /{allPaths=**} {
      // Permite ler e escrever se estiver autenticado
      allow read, write: if request.auth != null;
    }
  }
}
